@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

.letter-note{
	text-align: center;
	font-style: italic;
}

[epub|type~="z3998:letter"] header{
	text-align: center;
	margin-bottom: 1em;
	font-style: italic;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
	font-style: normal;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}
