@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:letter"]{
	margin-left: 0;
	margin-right: 0;
}

[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
	font-style: normal;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}

footer{
	margin-top: 1em;
	text-align: right;
}

.letter-note{
	text-align: center;
	font-style: italic;
	text-indent: 0;
}

q{
	
	font-style: italic;
}